{% extends "base.html" %}

{% block extrahead %}
	<style>
	</style>

	<script type="text/javascript">	

	var ALPHABET_UPPER = ["A","B","C","D","E","F","G","H","I","J","K","L",
						  "M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"];

	var LIST_OF_CONTACTS =
	[
    "Lawanda Devens",
    "Norberto Kautz",
    "Leland Rape",
    "Gwendolyn Forehand",
    "Stewart Flury",
    "Lennie Brownlee",
    "Rocco Teixeira",
    "Lesley Doerr",
    "Felipe Wernick",
    "Carletta Mcquay",
    "Dorethea Thiessen",
    "Odessa Bulger",
    "Esta Yochum",
    "Azzie Howard",
    "Simone Sterba",
    "Estrella Ishee",
    "Ivana Nau",
    "Callie Pierri",
    "Fay Coyle",
    "Kyra Heyen",
    "Silva Lafond",
    "Shaquana Leffler",
    "Hildred Helfer",
    "Hettie Timbers",
    "Irvin Pesina",
    "Katina Strosnider",
    "Tarah Choate",
    "Lauren Luiz",
    "Karl Lenox",
    "Filomena Wirtz",
    "Maurita Fergerson",
    "Ellsworth Larock",
    "Lesa Strock",
    "Shirley Palazzo",
    "Oliver Domenico",
    "Linwood Gordy",
    "Kandy Oh",
    "Wally Gowdy",
    "Alesia Chavers",
    "Maritza Rakow",
    "Antionette Ladouceur",
    "Damien Mcadory",
    "Josette Soliman",
    "Mitsue Olivera",
    "Loren Vidal",
    "Neil Meece",
    "Jamaal Hendershott",
    "Brittny Dudas",
    "Nell Arbogast",
    "Darrel Marceau"
    ]

    


	$(document).ready(function() {

		LIST_OF_CONTACTS.sort();

		for(i=0;i<=ALPHABET_UPPER.length-1;i++){
			$('#contactHeaders').append('<li class="nav-header" >' + ALPHABET_UPPER[i] + '</li>');
			
			for(k=0;k<=LIST_OF_CONTACTS.length-1;k++){
				if (LIST_OF_CONTACTS[k][0] == ALPHABET_UPPER[i]){
					$('#contactHeaders').append('<li><a href="#">' + LIST_OF_CONTACTS[k] + '</a></li>');
				}
			}
		}

	});


	</script>
{% endblock %}

{% block navbar-contacts-active %}
class="active"
{% endblock %}

{% block content %}

 	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="navbar">
					<div class="navbar-inner">
						<form class="navbar-search">
							<div class="input-append">
								<span class"add-on"><i class="icon-search"></i></span>
								<input class="search-query" type="text" placeholder="Search" class="span6">
								
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
 	</div>

 	<div class="container">
		<div class="row">
			<div class="span12">
				<ul id="contactHeaders" class="nav nav-list">
				</ul>

			</div>
		</div>
 	</div>

{% endblock %}