{% extends "base.html" %}

{% block title %}Inbox{% endblock %}

{% block extrahead %}
	<style>
		{% include "css/contacts.css" %}
	</style>

	<script type="text/javascript">	

	function Message(sender, subject, time){
		this.sender = sender;
		this.subject = subject;
		this.time = time;
	}

	var MESSAGES = [
		new Message("Lesley Doerr", "Meet up for lunch sometime?", "4:45pm"),
		new Message("Esta Yochum", "When's the next recital?", "10/2/3"),
		new Message("Rocco Teixeira", "New pee-wee league coach", "10/4/5"),
	];

	$(document).ready(function() {
		updateView();
	});

	function updateView(){
		$.each(MESSAGES, function(i, message){
			row = $("<tr></tr>");
			sender = $("<td></td>");
			subject = $("<td></td>");
			time = $("<td></td>");

			sender.text(message.sender);
			subject.text(message.subject);
			time.text(message.time);

			row.append(sender);
			row.append(subject);
			row.append(time);

			$("#messages_tbl").append(row);
		})
	}


	</script>
{% endblock %}

{% block navbar-inbox-active %}
class="active"
{% endblock %}

{% block content %}

 	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="navbar">
					<div class="navbar-inner">
						<form class="navbar-search">
							<div class="input-append">
								<span class"add-on"><i class="icon-search"></i></span>
								<input class="search-query" type="text" placeholder="Search" class="span6">
								
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
 	</div>

 	<div class="container">
 		<table class="table">
 			<thead>
 				<tr>
 					<th>Sender</th>
 					<th>Subject</th>
 					<th>Date</th>
 				</tr>
			</thead>
			<tbody id="messages_tbl">
			</tbody>
		</table>
 	</div>

{% endblock %}