<!DOCTYPE html>
 <html>
 	<head>
        <meta charset="utf-8">

        <title>GR4 Contents</title>

         <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" /></link>
     
    	<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
    	<style>
      		body {
        		padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      		}
      		.header {
      			border-top: 1px solid;
      			height: 30px;
      		}
      		.content {
      			border-bottom: 1px solid;
      			height: 500px;
      		}
      		.last-day.header {
      			border-top-right-radius: 5px;
      		}
      		.last-day.content {
      			border-bottom-right-radius: 5px;
      		}
      		.first-day.header {
      			border-top-left-radius: 5px;
      		}
      		.first-day.content {
      			border-bottom-left-radius: 5px;
      		}
      		.unselected-day.span1 {
      			border-left: 1px solid;
      			margin-left: 0px;
      			width: 99px;
      			text-align: center;
      		}
      		.last-day {
      			border-right: 1px solid;
      		}
      		.selected-day.span6 {
      			border-left: 1px solid;
      			margin-left: 0px;
      			width: 598px;
      			text-align: center;
      		}
    	</style>
	    <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">

	    <script src="{{STATIC_URL}}js/jquery-1.8.1.min.js" type="text/javascript"></script>
		<!-- 
	    <link rel="stylesheet/less" type="text/css" href="{{STATIC_URL}}less/no-margin-span.less" />
	    <script src="{{STATIC_URL}}js/less-1.3.3.min.js" type="text/javascript"></script>
	     -->
	    {% block extrahead %}
	    
	    {% endblock %}

	    <script type="text/javascript">
		    $(function(){

		    {% block jquery %}
		    {% endblock %}

		    });
	    </script>
	    

	    <!-- CSS code -->
        <style type="text/css">
	         /*
	         Need default/customization/theme configured

	         Cool Bootstrap Button-customizatons: http://charliepark.org/bootstrap_buttons/;
	         */

			.btn-custom0 { background-color: hsl(0, 100%, 39%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fe2d2d", endColorstr="#c60000"); background-image: -khtml-gradient(linear, left top, left bottom, from(#fe2d2d), to(#c60000)); background-image: -moz-linear-gradient(top, #fe2d2d, #c60000); background-image: -ms-linear-gradient(top, #fe2d2d, #c60000); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe2d2d), color-stop(100%, #c60000)); background-image: -webkit-linear-gradient(top, #fe2d2d, #c60000); background-image: -o-linear-gradient(top, #fe2d2d, #c60000); background-image: linear-gradient(#fe2d2d, #c60000); border-color: #c60000 #c60000 hsl(0, 100%, 34%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); -webkit-font-smoothing: antialiased; }

			.btn-custom1 { background-color: hsl(36, 100%, 39%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#feab2d", endColorstr="#c67700"); background-image: -khtml-gradient(linear, left top, left bottom, from(#feab2d), to(#c67700)); background-image: -moz-linear-gradient(top, #feab2d, #c67700); background-image: -ms-linear-gradient(top, #feab2d, #c67700); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feab2d), color-stop(100%, #c67700)); background-image: -webkit-linear-gradient(top, #feab2d, #c67700); background-image: -o-linear-gradient(top, #feab2d, #c67700); background-image: linear-gradient(#feab2d, #c67700); border-color: #c67700 #c67700 hsl(36, 100%, 34%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); -webkit-font-smoothing: antialiased; }

			.btn-custom2 { background-color: hsl(72, 100%, 39%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d5fe2d", endColorstr="#9fc600"); background-image: -khtml-gradient(linear, left top, left bottom, from(#d5fe2d), to(#9fc600)); background-image: -moz-linear-gradient(top, #d5fe2d, #9fc600); background-image: -ms-linear-gradient(top, #d5fe2d, #9fc600); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d5fe2d), color-stop(100%, #9fc600)); background-image: -webkit-linear-gradient(top, #d5fe2d, #9fc600); background-image: -o-linear-gradient(top, #d5fe2d, #9fc600); background-image: linear-gradient(#d5fe2d, #9fc600); border-color: #9fc600 #9fc600 hsl(72, 100%, 34%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); -webkit-font-smoothing: antialiased; }

			.btn-custom3 { background-color: hsl(108, 100%, 39%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57fe2d", endColorstr="#27c600"); background-image: -khtml-gradient(linear, left top, left bottom, from(#57fe2d), to(#27c600)); background-image: -moz-linear-gradient(top, #57fe2d, #27c600); background-image: -ms-linear-gradient(top, #57fe2d, #27c600); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #57fe2d), color-stop(100%, #27c600)); background-image: -webkit-linear-gradient(top, #57fe2d, #27c600); background-image: -o-linear-gradient(top, #57fe2d, #27c600); background-image: linear-gradient(#57fe2d, #27c600); border-color: #27c600 #27c600 hsl(108, 100%, 34%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); -webkit-font-smoothing: antialiased; }

			.btn-custom4 { background-color: hsl(144, 100%, 39%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2dfe81", endColorstr="#00c64f"); background-image: -khtml-gradient(linear, left top, left bottom, from(#2dfe81), to(#00c64f)); background-image: -moz-linear-gradient(top, #2dfe81, #00c64f); background-image: -ms-linear-gradient(top, #2dfe81, #00c64f); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2dfe81), color-stop(100%, #00c64f)); background-image: -webkit-linear-gradient(top, #2dfe81, #00c64f); background-image: -o-linear-gradient(top, #2dfe81, #00c64f); background-image: linear-gradient(#2dfe81, #00c64f); border-color: #00c64f #00c64f hsl(144, 100%, 34%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); -webkit-font-smoothing: antialiased; }


			.btn-custom5 { background-color: hsl(180, 100%, 39%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2dfefe", endColorstr="#00c6c6"); background-image: -khtml-gradient(linear, left top, left bottom, from(#2dfefe), to(#00c6c6)); background-image: -moz-linear-gradient(top, #2dfefe, #00c6c6); background-image: -ms-linear-gradient(top, #2dfefe, #00c6c6); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2dfefe), color-stop(100%, #00c6c6)); background-image: -webkit-linear-gradient(top, #2dfefe, #00c6c6); background-image: -o-linear-gradient(top, #2dfefe, #00c6c6); background-image: linear-gradient(#2dfefe, #00c6c6); border-color: #00c6c6 #00c6c6 hsl(180, 100%, 34%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); -webkit-font-smoothing: antialiased; }

			.btn-custom6 { background-color: hsl(216, 100%, 39%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d81fe", endColorstr="#004fc6"); background-image: -khtml-gradient(linear, left top, left bottom, from(#2d81fe), to(#004fc6)); background-image: -moz-linear-gradient(top, #2d81fe, #004fc6); background-image: -ms-linear-gradient(top, #2d81fe, #004fc6); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d81fe), color-stop(100%, #004fc6)); background-image: -webkit-linear-gradient(top, #2d81fe, #004fc6); background-image: -o-linear-gradient(top, #2d81fe, #004fc6); background-image: linear-gradient(#2d81fe, #004fc6); border-color: #004fc6 #004fc6 hsl(216, 100%, 34%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); -webkit-font-smoothing: antialiased; }

			.btn-custom7 { background-color: hsl(242, 100%, 39%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#342dfe", endColorstr="#0600c6"); background-image: -khtml-gradient(linear, left top, left bottom, from(#342dfe), to(#0600c6)); background-image: -moz-linear-gradient(top, #342dfe, #0600c6); background-image: -ms-linear-gradient(top, #342dfe, #0600c6); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #342dfe), color-stop(100%, #0600c6)); background-image: -webkit-linear-gradient(top, #342dfe, #0600c6); background-image: -o-linear-gradient(top, #342dfe, #0600c6); background-image: linear-gradient(#342dfe, #0600c6); border-color: #0600c6 #0600c6 hsl(242, 100%, 34%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); -webkit-font-smoothing: antialiased; }

			.btn-custom8 { background-color: hsl(288, 100%, 39%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d52dfe", endColorstr="#9f00c6"); background-image: -khtml-gradient(linear, left top, left bottom, from(#d52dfe), to(#9f00c6)); background-image: -moz-linear-gradient(top, #d52dfe, #9f00c6); background-image: -ms-linear-gradient(top, #d52dfe, #9f00c6); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d52dfe), color-stop(100%, #9f00c6)); background-image: -webkit-linear-gradient(top, #d52dfe, #9f00c6); background-image: -o-linear-gradient(top, #d52dfe, #9f00c6); background-image: linear-gradient(#d52dfe, #9f00c6); border-color: #9f00c6 #9f00c6 hsl(288, 100%, 34%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); -webkit-font-smoothing: antialiased; }

			.btn-custom9 { background-color: hsl(324, 100%, 39%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fe2dab", endColorstr="#c60077"); background-image: -khtml-gradient(linear, left top, left bottom, from(#fe2dab), to(#c60077)); background-image: -moz-linear-gradient(top, #fe2dab, #c60077); background-image: -ms-linear-gradient(top, #fe2dab, #c60077); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe2dab), color-stop(100%, #c60077)); background-image: -webkit-linear-gradient(top, #fe2dab, #c60077); background-image: -o-linear-gradient(top, #fe2dab, #c60077); background-image: linear-gradient(#fe2dab, #c60077); border-color: #c60077 #c60077 hsl(324, 100%, 34%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); -webkit-font-smoothing: antialiased; }

			.btn-custom10 { background-color: hsl(360, 100%, 39%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fe2d2d", endColorstr="#c60000"); background-image: -khtml-gradient(linear, left top, left bottom, from(#fe2d2d), to(#c60000)); background-image: -moz-linear-gradient(top, #fe2d2d, #c60000); background-image: -ms-linear-gradient(top, #fe2d2d, #c60000); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe2d2d), color-stop(100%, #c60000)); background-image: -webkit-linear-gradient(top, #fe2d2d, #c60000); background-image: -o-linear-gradient(top, #fe2d2d, #c60000); background-image: linear-gradient(#fe2d2d, #c60000); border-color: #c60000 #c60000 hsl(360, 100%, 34%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); -webkit-font-smoothing: antialiased; }


         </style>
     	<!-- -->

		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
	
		<!-- Javascript Code -->
		<script type="text/javascript">	

			var currentDate;

			/*
			Filters
			*/
			var booleanFilters = [];
			var childrenFilters = ["Me", "Nick", "Andy", "Barry", "Christine", "Adetokumbo", "Mary-Jane the Third", "Henry", "Billy"];
			var helpFilters = ["All"];

			/*
			Constants
			*/
			var DEFAULT_ALL_CLASS = "btn-inverse";
			var DEFAULT_FILTER_CLASS = "btn pull-left";
			var DEFAULT_FILTER_CLASS_DYN = '"btn pull-left"';
			var CUSTOM_FILTER_PREFIX = "btn-custom";

			$(document).ready(function() {

				for(i=0;i<=helpFilters.length-1;i++){
	 				$('#filterBtnGroup').append('<button id="allChildren" class=' + DEFAULT_FILTER_CLASS_DYN +'>' + helpFilters[i] + '</button>');
				}

				for(j=0;j<=childrenFilters.length-1;j++){
	 				$('#filterBtnGroup').append('<button id="partialChildren" class=' + DEFAULT_FILTER_CLASS_DYN +'>' + childrenFilters[j] + '</button>');
	 				booleanFilters[j] = 0;
				}

				$("#filterBtnGroup #partialChildren").each(function (value) {
	            	$(this).bind( "click", function() {
						$(this).toggleClass( CUSTOM_FILTER_PREFIX + value);
						($(this).attr('class') == DEFAULT_FILTER_CLASS + " " + CUSTOM_FILTER_PREFIX + value) ? booleanFilters[value] = 1 : booleanFilters[value] = 0;
					});
				});

				$("#filterBtnGroup #allChildren").each(function () {
	            	$(this).bind( "click", function() {
						$(this).toggleClass( DEFAULT_ALL_CLASS );

						if ($(this).attr('class') == DEFAULT_FILTER_CLASS + " " + DEFAULT_ALL_CLASS){
							$("#filterBtnGroup #partialChildren").each(function (value) {

								if ($(this).attr('class') != DEFAULT_FILTER_CLASS + " " + CUSTOM_FILTER_PREFIX + value){
									$(this).toggleClass( CUSTOM_FILTER_PREFIX + value);
									booleanFilters[value] = 1;
								}

							});
						}

						else{
							$("#filterBtnGroup #partialChildren").each(function (value) {
							if ($(this).attr('class') == DEFAULT_FILTER_CLASS + " " + CUSTOM_FILTER_PREFIX + value){
								$(this).toggleClass( CUSTOM_FILTER_PREFIX + value);
								booleanFilters[value] = 0;
							}
						});
						}

					});
	            });

				/*
				Set selected date to current date by default
				*/
				dateSelectedFunc(new Date());


				$("#datepicker").datepicker({
				    onSelect: function(dateText, inst) { 
				      var dateAsString = dateText; //the first parameter of this function
				      var dateAsObject = $(this).datepicker( 'getDate' ); //the getDate method
				      dateSelectedFunc(dateAsObject);

				   }
				});

				/*Previous button*/
			    $("#previousDayButton").click(function() {
			    	var date = new Date($("#datepicker").datepicker('getDate'));
			    	date.setDate(date.getDate()-1);
			    	$("#datepicker").datepicker('setDate', date);

			    	prevDayFunc(date);
			    	dateSelectedFunc(date);

			    });

			    /*Next Day button*/
			    $("#nextDayButton").click(function() {
			    	var date = new Date($("#datepicker").datepicker('getDate'));
			    	date.setDate(date.getDate()+1);
			    	$("#datepicker").datepicker('setDate', date);

			    	nextDayFunc(date);
				    dateSelectedFunc(date);

			    });

			    /*Previous Week button*/
			    $("#previousWeekButton").click(function() {
			    	var date = new Date($("#datepicker").datepicker('getDate'));
			    	date.setDate(date.getDate()-7);
			    	$("#datepicker").datepicker('setDate', date);

			    	prevWeekFunc(date);
				    dateSelectedFunc(date);

			    });

			    /*Next Week button*/
			    $("#nextWeekButton").click(function() {
			    	var date = new Date($("#datepicker").datepicker('getDate'));
			    	date.setDate(date.getDate()+7);
			    	$("#datepicker").datepicker('setDate', date);

			    	nextWeekFunc(date);
				    dateSelectedFunc(date);

			    });

			    /*New Event button*/
			    $("#newEventButton").click(function() {
			    	newEventFunc();
			    });
			});

			/*
			Functions for modularity
			*/

			/*
			Returns list of selected names
			*/
			function getSelectedFilters(){
				var selectedFilters = [];
				for( k=0; k<=booleanFilters.length-1; k++){
					if (booleanFilters[k] == true){
						selectedFilters.push(childrenFilters[k]);
					} 
				}
				return selectedFilters;
			}

			function dateSelectedFunc(date){
				currentDate = date;
				console.log(currentDate);
			}

			function prevDayFunc(date){
				console.log("prevDay pressed");
			}

			function nextDayFunc(date){
				console.log("nextDay pressed");

			}

			function prevWeekFunc(date){
				console.log("prevWeek pressed");

			}

			function nextWeekFunc(date){
				console.log("nextWeek pressed");

			}

			function newEventFunc(){
				console.log("newEvent pressed");
				console.log(booleanFilters);

				$("#eventModal").dialog({modal: true
			    });
			}
		</script>
		<!-- -->

 	</head>
 	<body>

		<div class="container">
			<div class="row">
			</div>

 			<!-- Middle -->
 			<div class="row">
		 		<div class="span4 pull-down">
		 			<div id="datepicker"></div>
	 			</div>

				<div class="span8 pull-down">
					<div class="row">
	 			
	 					<div class="span4 pull-left">
	 						<div id="filterBtnGroup" class="btn-group row pull-left">
	 				 			<!-- Fill in children group filter dynamically -->
							</div>
						</div>

						<div class="span4 pull-right">
							<div class="row pull-right">
						 		<a id="newEventButton" class="btn btn-success pull-right " href="#"><i class="icon-plus"></i> New Event</a>
						 		<div id="eventModal"></div>
						 	</div>
						
						</div>
					</div>


					<!-- Need to find another way to form whitespace between top and bottom rows -->
					<div class="row" style="height:144px;"></div>


					<div class="row">

					 	<div class ="span2 pull-left">
					 		<div class="btn-group row pull-left">

					 			<a id="previousDayButton" class="btn" href="#"><i class="icon-chevron-left"></i> Prev Day</a>
					 			<a id="nextDayButton" class="btn" href="#">Next Day <i class="icon-chevron-right"></i></a>

							</div>
						</div>

						<div class="span2 pull-right">
					 		<div class="btn-group row pull-right">

					 			<a id="previousWeekButton" class="btn " href="#"><i class="icon-chevron-left"></i> Prev Week</a>
					 			<a id="nextWeekButton" class="btn " href="#">Next Week <i class="icon-chevron-right"></i></a>

							</div>
						</div>

					</div>

				</div>
			</div>

			<div class="row">
				<div class="header unselected-day span1 first-day">Monday</div>
 				<div class="header unselected-day span1">Tuesday</div>
 				<div class="header unselected-day span1">Wednesday</div>
 				<div class="header unselected-day span1">Thursday</div>
 				<div class="header unselected-day span1">Friday</div>
 				<div class="header selected-day span6">Saturday</div>
 				<div class="header unselected-day span1 last-day">Sunday</div>
 			</div>
 			<div class="row">
				<div class="content unselected-day span1 first-day"></div>
 				<div class="content unselected-day span1"></div>
 				<div class="content unselected-day span1"></div>
 				<div class="content unselected-day span1"></div>
 				<div class="content unselected-day span1"></div>
 				<div class="content selected-day span6"></div>
 				<div class="content unselected-day span1 last-day"></div>
 			</div>
	 	</div>

 	</body>
</html>