<!-- newEventModal -->
<style>
{% include "css/reach-out.css" %}
</style>

<script type="text/javascript">
{% include "js/reach-out.js"%}

</script>
<div id="reachOutModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Reach Out</h3>
	</div>
	<div class="modal-body well" style="margin-bottom:0px;">
		<form id="reachOutForm">
			<div class="row-fluid">
				<div class="span12">    
					<div class="row-fluid">
						<ul id="contactHeaders" class="nav nav-list">
						</ul>   
					</div>

				</div>     
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="flat btn" data-dismiss="modal" aria-hidden="true"style="background-color:#BDC3C7;">Close</button>
		<button class="flat btn btn-primary" onClick="sendRequests()" id="sendRequests">Send Driving Request</button>
	</div>
</div><!--end modal -->
