{% extends "base.html" %}

{% block title %}Schedules{% endblock %}

{% block extrahead %}
	<style>
	</style>

	<script type="text/javascript">
		{% include "js/schedules.js" %}
	</script>
{% endblock %}

{% block navbar-schedules-active %}
class="active"
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="span12">
				<p>Schedules</p>
				<a href="/schedule/1/">View a Schedule</a>
			</div>
		</div>
		<div class="row">
			<div class="span12" id="scheduleList">
			</div>
		</div>
 	</div>
{% endblock %}