{% extends "base.html" %}

{% block extrahead %}
	<style>
	</style>

	<script type="text/javascript">	
	</script>
{% endblock %}

{% block navbar-settings-active %}
class="active"
{% endblock %}

{% block content %} 
	<div class="container">
		<p>Settings {{ user }}</p>
		<form method="post" action=""> {% csrf_token %} 
			<table>
				{{ pform }}
			</table>
			<input type="hidden" name="form-type" value="personal-form"/>
			<input type="submit" value="Submit Form"/>
		</form>

		<form method="post" action=""> {% csrf_token %} 
			<table>
				{{ fform }}
			</table>
			<input type="hidden" name="form-type" value="family-form"/>
			<input type="submit" value="Submit Form"/>
		</form>
 	</div>
{% endblock %}