.week-buttons-row{
  position: relative;
  left:-30px;
  width: 1200px;
  padding-top: 40px;
}

.first-day {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.last-day {
  border-right: 1px solid;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-color: #AAAAAA;
}
.unselected-day.span1 {
  color: white;
  border-left: 1px solid;
  margin-left: 0px;
  width: 45px;
  margin-left:2px;
  margin-right:2px;
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  height: 550px;
  border-color: #1ABC9C;
}
.selected-day.span6 {
  border-left: 1px solid;
  margin-left: 0px;
  width: 894px;
  margin-left:2px;
  margin-right:2px;
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  height: 550px;
  border-color: #E3E3E3;
  background-color: #E3E3E3;
}
.selected-day.h4{
  background-color: #1ABC9C;
}
.unselected-day {
  cursor: pointer;
}
.selected-day {
  background-color: #1ABC9C;
}
.unselected-day {
  /* fallback */
  background-color: #1ABC9C;
  /*background: url(images/linear_bg_2.png);
  background-repeat: repeat-x;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDDDDD), to(#EEEEEE));
  background: -webkit-linear-gradient(top, #EEEEEE, #DDDDDD);
  background: -moz-linear-gradient(top, #EEEEEE, #DDDDDD);
  background: -ms-linear-gradient(top, #EEEEEE, #DDDDDD);
  background: -o-linear-gradient(top, #EEEEEE, #DDDDDD);*/
}
.unselected-day:hover {
  /* fallback */
  background-color: #16A085;
  border-color: #16A085;
  /*background: url(images/linear_bg_2.png);
  background-repeat: repeat-x;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#BBBBBB), to(#CCCCCC));
  background: -webkit-linear-gradient(top, #CCCCCC, #BBBBBB);
  background: -moz-linear-gradient(top, #CCCCCC, #BBBBBB);
  background: -ms-linear-gradient(top, #CCCCCC, #BBBBBB);
  background: -o-linear-gradient(top, #CCCCCC, #BBBBBB);*/
}
.spacer {
  margin-top: 20px;
}
.modal, .modal.fade.in {
  top: 10%; /* was 10% */
}

.ui-datepicker {
  font-size:10px !important; 
  width: 25em;
  padding: .2em .2em 0;
  display: none;
}
.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
}

.tile {
  background-color:#006363;
  padding: 5px;
  margin: 5px;
}

.tile.default{
  background-color: #34495E;
}

.tile.primary{
  background-color: #1ABC9C;

}
.tile.primary .btn-primary{
  background-color: #ecf0f1;
  color:#DDDDDD;

}
.tile.info{
  background-color: #3498DB;
}

.tile.danger{
  background-color: #E74C3C;
}

.tile.warning{
  background-color: #F1C40F;
}

.tile.warning .eventTime{
  color: #333333;
}

.tile.warning .dayEvents{
  color: #333333;
}

.tile .dayEvents {
  text-align: left;
  font-weight: bold;
  margin: 0px;
  color: white;
}

.tile .eventTime {
  text-align: left;
  margin: 0px;
  color: white;
}

.edit-event{
  margin-top:6px;
  margin-right:2px;
}
.delete-event{
  margin-top:6px;
  margin-left:6px;
}
.reach-out{
  text-align: center;
  margin-top:10px;
  margin-right:5px;
}

.drivingToBtnInput{
  width:30px;
}

.driving-to-label{
  text-align: center;
}

.driver-to{
  width: 50px;
  text-align:center;
  margin-top:9px;
  margin-right:4px;
  padding-left:22px;
  padding-right:22px;
}
.driver-from{
  text-align: center;
  margin-top:9px;
  margin-right:4px;
  margin-left:2px;
}
.minical{
  margin: 0px 0px 0px 0px;
}

.minicalspan{
  margin-left: 0px;
  width:255px;
}

@-ms-viewport {
  width: device-width;
}

@media (max-width: 1455px){
  .minicalspan{
    display: none;
    visibility: hidden;
  }
}
@media (min-width: 1720px){
  .minicalspan{
    position:relative;
    top:-552px;
    left:-295px;
    margin-right: 10px;
  }
}
@media(min-width: 1456px) and (max-width: 1719px){
  .body-container{
    position: absolute;
    left:300px;
  }
  .minicalspan{
    position:relative;
    top:-552px;
    left:-300px;
    margin-right: 15px;
  }
}

.btn-group{
  margin-top:7px;
  text-align: center;
  margin-right: 5px;

}
.dropdown-toggle{
  text-align:center;
  margin-top: 6px;
  width:108px;
}