#letterHead {
  font-size: 15px;
}

#right-contact-pane {
	height: 600px !important;
}

#left-contact-pane {
	height: 600px !important;
    overflow: auto;
}

#selectUserText {
	text-align: center;
	font-size: 20px;

	color: #808080; 
}

#findContactsHelpText {
	text-align: center;
	margin-top: 16px;
	font-size: 20px;

	color: #808080; 
}

.uneditable-input {
	cursor: not-allowed;
    background-color: #FFFFFF;
    color: #000000; 
}

textarea[disabled]{
	cursor: not-allowed;
    background-color: #FFFFFF;
    color: #000000; 
}