#letterHead {
  font-size: 15px;
}

#right-contact-pane {
	height: 750px;
}

#left-contact-pane {
	height: 750px !important;
    overflow: auto;
}

#selectUserText {
	text-align: center;
	font-size: 20px;
}